.footer-text {
  text-align: center;
  /* color: #868e96; */

  font-size: 20px;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin-top: 2rem;
}

.copyright-sign {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
